@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

input[type=text], input[type=password], input[type=email] {
    text-decoration: none;
}

.textFields{
    background-color:#f2f2f2;
}

h1 {
    margin-top:0;
}

.loginContainer, .registerContainer, .verifyContainer, .mediaContainer  {
    margin: 5% auto;
    background-color:white;
    padding:50px;
    height:auto;
    width: 20%;    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.mediaContainer {
    text-align:center;
}

.searchButtons {
    padding-bottom: 1%;
}

.questionContainer, .searchContainer, .userContainer {
    margin: 5% auto;
    background-color:white;
    padding:50px;
    height:auto;
    width: 70%;    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.userContainer {
    overflow: hidden;
}

.userInfo {
    float: left;
    width: 50%;
}

p {
    margin-top: 1px;
}

.question{
    margin: 5%;
    background-color: white;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow:hidden;
}

.answer {
    overflow:hidden;
}

.submitAnswer, .answers {
    clear:both;
}

.chips {
    margin-right:3px;
}

#logout, #login {
    position:absolute;
    right:5%;
    top:5%;
    font-weight:bold;
    cursor:pointer;
    font-size:14px;
    padding:15px;
    border: 1px solid #CCF4F4;
    background-color: #80cbc4;
}

#register {
    position:absolute;
    right:13%;
    top:5%;
    font-weight:bold;
    cursor:pointer;
    font-size:14px;
    padding:15px;
    border: 1px solid #CCF4F4;
    background-color: #80cbc4;
}

#sub, #clear {
    font-weight:bold;
    cursor:pointer;
    font-size:14px;
    padding:15px;
    border: 1px solid #CCF4F4;
    background-color: #80cbc4;;
    width:100%;
}

#sub:hover, #clear:hover #login:hover, #register:hover, #logout:hover {
    background-color:#CCF4F4;
}

#logoutText, #homeText {
    position:absolute;
    left:5%;
    top:5%;
}